<%- include('./partials/loginheader') %>
    <article class="container">
      <%- include('./partials/sidebar') %>
      <section class="main-container">

         <div class="section-header">
          <h3>Hi <%= firstname %></h3>  
         </div>
      <main>
        <h3>Your Courses</h3>
        <div class="main-boxes">

          <% if (courses.length >= 1 ) {%>
            <div class="courselist">
              <div class="gcolumns">
              <p>Title</p> <p>Course Description</p> <p>Number of Lectures</p>
            </div>
              <% courses.forEach(function(course){%>
                
            <div class="gcolumns">
                 <p><a href="/lectures/<%= course.title %>/<%= course._id %>"><%= course.title %></a></p><p><%=  course.description %></p><p><%= course.numLectures %></p></li>
                </div>
                 <%});%>
                
              </div> 
          <%} else {%>
            <h2>You have not register for any courses. Please Register <a href="/courses">Here</a></h2>
           

          <%}%>
        
      </div>
     </main>
      </section>
      <!--<section>
      </section>-->
    </article>
    <script src="/js/main.js"></script>
  </body>
</html>
